body {
    font-family: Consolas, sans-serif;
    background-color: #f2f2f2;;
}

.form-inserimento {
    margin: auto;
    border-radius: 8px;
    

.form-inserimento h2 {
   	margin-bottom: 20px;
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    z-index: 9999;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease;
}

.back-button:hover {
    background-color: #0056b3;
}

.header-bar {
  margin-bottom: 40px; /* Spazio sotto l'header */
}

/* Messaggi di errore */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
}