body {
            font-family: Consolas, sans-serif;
            background: #f0f0f0;
            padding: 20px;
        }

        .remove-to-catalogue {
        font-family: Consolas, sans-serif;
            background-color: #dc3545;
            color: white;
            padding: 6px 12px;
            font-size: 14px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        .remove-to-catalogue:hover {
            background-color: #a71d2a;
            transform: scale(1.03);
        }

        .remove-to-catalogue:active {
            background-color: #dc3545;
            transform: scale(0.98);
        }
        
        .modify-item {
        font-family: Consolas, sans-serif;
            background-color: #2ECC40;
            color: white;
            padding: 6px 12px;
            font-size: 14px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
 
        
        }
            .modify-item:hover {
            background-color: #008000;
            transform: scale(1.03);
        }

        	.modify-item:active {
            background-color: #2ECC40;
            transform: scale(0.98);
        }
        
        